.headerDiv {
  background-image: linear-gradient(to right, #c2dcfe, #cf4b8d);
  box-shadow: var(--box-shadow-1);
  border-radius: 1.5rem;
  text-align: center;
  /* font-family: var(--font-family-1); */
  padding: 4rem;
  color: var(--yuva-dark-blue);
}

/******************************************* Mobile and Tab *********************************************/
@media (max-width: 992px) and (min-width: 576px) {
  .headerDiv {
    padding: 3rem 2rem;
  }
}

@media (max-width: 576px) {
  .headerDiv {
    padding: 2rem;
  }
}
