body {
    margin: 0;
    word-wrap: break-word;
    background-color: rgb(250, 253, 255)

}

.app-outer-div {
    width: 80%;
    min-height: 80vh;
    margin: auto;
}

@media (max-width: 600px) {
    .app-outer-div {
        width: 92%;
        margin: auto;
    }
}

.navbar-nav .nav-link {
    color: black !important;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    /* height: 100%; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-left: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: #0c5e9b !important;
    /* background-color: var(--light-grey); */
    /* text-decoration: underline; */
}

.cardOuterDiv {
    padding: 1rem;
    /* 0.625rem = 10px */
}

.headerTitle {
    font-size: 2.4rem;
    font-family: var(--font-family-1);
    font-weight: 700;
    margin: 0;
}

.headerSubtitle {
    font-size: 1.3rem;
    font-family: var(--font-family-2);
    margin-top: 1rem;
    margin: 0;
}

.nothingText {
    font-family: var(--font-family-1);
    font-weight: 600;
    text-align: center;
    margin: 3rem;
}

/********************************************* Modal **************************************************/

.modalLabel {
    font-size: 0.8rem;
    margin: 0;
    font-family: var(--font-family-2);
}

.modalInput {
    margin: 0;
    border-radius: 0.4rem;
    outline: none;
    border: 0.08rem solid var(--grey);
    width: 100%;
    height: 2.4rem;
    padding: 0.8rem;
    font-family: var(--font-family-2);
    font-size: 0.9rem;
}

.modalInput:focus {
    border: none;
    /* box-shadow: var(--box-shadow-1); */
    border: 0.1rem solid var(--grey);
}

.modalCloseBtn,
.modalAddBtn,
.modalDltBtn {
    border-radius: 0.4rem;
    border: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    display: block;
    height: 2.4rem;
    color: white;
    /* margin: auto; */
    /* margin-top: 1rem; */
    font-family: var(--font-family-2);
}

.modalCloseBtn {
    background-color: var(--yuva-green);
}

.modalCloseBtn:hover {
    background-color: var(--yuva-dark-green);
}

.modalAddBtn {
    background-color: var(--yuva-blue);
}

.modalAddBtn:hover {
    background-color: var(--yuva-dark-blue);
}

.modalDltBtn {
    background-color: var(--red);
}

.modalDltBtn:hover {
    background-color: red;
}

.editNote {
    font-family: var(--font-family-1);
    text-decoration: underline;
    text-align: center;
}

.horizontal {
    background-color: #2a3e78;
    width: 90%;
    height: 2px;
    margin: 0rem 0 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

/****************************************** Mobile and Tab *******************************************/

@media (max-width: 992px) and (min-width: 576px) {
    .headerTitle {
        font-size: 2.4rem;
    }

    .headerSubtitle {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {
    .headerTitle {
        font-size: 1.8rem;
    }

    .headerSubtitle {
        font-size: 1rem;
    }
}
