.outerNav {
  background-color: white;
  /* padding: 0.7% 3%; */
  padding: 0.6rem 3rem;
  box-shadow: 0 0.3rem 0.25rem -0.25rem rgb(0, 0, 0, 0.2);
}

.yiImg {
  width: 4.5rem;
  margin-right: 2%;
}

.navBtn {
  background-color: var(--light-grey);
  color: black;
  border-radius: 0.3rem;
  height: 2.2rem;
  width: fit-content;
  padding: 0 1rem;
  /* padding: 0; */
  font-size: 0.9rem;
  border: none;
  margin-left: 1rem;
}

@media (max-width: 1000px) and (min-width: 576px) {
  .navBtn {
    margin-left: 0;
    margin-top: 0.8rem;
    /* width: 100%; */
  }
}

@media (max-width: 576px) {
  .outerNav {
    padding: 0.5rem 2rem;
  }

  .navBtn {
    margin-left: 0;
    margin-top: 0.8rem;
    /* width: 100%; */
  }
}
