.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* above two are very imp */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  /* above three are very imp */

  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem 0 rgb(0, 0, 0, 0.9);

  overflow: hidden;
}

/* Player.css */
.player-wrapper1 {
  margin-top: 8rem;
  position: relative;

  padding-top: 56.25%;
}

.react-player1 {
  position: absolute;
  top: 0;
  left: 0;
}
