.outerDiv {
  margin: auto;
  width: 65%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  /* border: 2px solid red; */
}

.regisLabel {
  font-size: 0.8rem;
}

.regisInput {
  border-radius: 0.4rem;
  outline: none;
  border: 0.08rem solid var(--grey);
  width: 100%;
  height: 2.4rem;
  padding: 0.8rem;
  font-family: var(--font-family-2);
  font-size: 0.9rem;
}

.regisInput:focus {
  border: none;
  /* box-shadow: var(--box-shadow-1); */
  border: 0.1rem solid var(--grey);
}

.regisBtn {
  border-radius: 0.4rem;
  border: none;
  background-color: var(--yuva-green);
  height: 2.75rem;
  padding: 0 3rem;
  color: white;
  font-family: var(--font-family-2);
}

.regisBtn:hover {
  background-color: var(--yuva-dark-green);
}

@media (max-width: 992px) {
  .outerDiv {
    width: 100%;
  }
}
