/****************************************** Info div *************************************************/
.u-cert-page-outer-div {
  margin-top: 6.5rem;
}

.u-cert-page-cert-info-div {
  box-shadow: var(--box-shadow-1);
  /* border: 1.5px solid lightgray; */
  /* height: 50rem; */
  border-radius: 1rem;
  padding: 2rem;
  /* margin-bottom: 2rem; */
}

.u-cert-page-holder-text {
  margin-bottom: 0.2rem;
  font-family: var(--font-family-2);
  /* color: var(--grey); */
  font-weight: 400;
}

.u-cert-page-holder-name {
  /* margin-bottom: 0; */
  font-family: var(--font-family-1);
  font-weight: 600;
}

.u-cert-page-cert-download-btn {
  display: block;
  width: 100%;
  height: 2.75rem;
  margin: auto;
  margin-top: 1.8rem;
  border-radius: 0.4rem;
  /* margin-bottom: 2rem; */
  background-color: var(--yuva-green);
  border: none;
  color: white;
  font-family: var(--font-family-2);
}

.u-cert-page-cert-download-btn:hover {
  background-color: var(--yuva-dark-green);
}

.u-cert-page-share-text {
  color: var(--grey);
  font-size: 0.8rem;
  text-decoration: underline;
  margin-top: 1.8rem;
  margin-bottom: 0;
}

.u-cert-page-share-btns-div {
  text-align: center;
}

.u-cert-page-single-share-btn-div {
  /* display: inline; */
  /* border: 2px solid red; */
  /* padding: 10px; */
  /* transition: 3s; */
}

.u-cert-page-share-icon {
  /* border: 2px solid red; */
  /* border-radius: 100px; */
  display: inline;
  margin: 0.4rem;
  padding: 0.45rem;
  transition: 0.25s;
}

.u-cert-page-share-icon:hover {
  /* box-shadow: var(--box-shadow-1); */
  padding: 0rem;
}
