.u-quiz-page-inst-outer-div {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-quiz-page-inst-time-text {
  text-align: right;
  font-family: var(--font-family-2);
}

.u-quiz-page-inst-list-text {
  font-family: var(--font-family-2);
}

.u-quiz-page-inst-start-btn {
  background-color: var(--yuva-green);
  border-radius: 0.4rem;
  height: 2.2rem;
  border: none;
  color: white;
  padding: 0 1rem 0 1rem;
  font-family: var(--font-family-2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-quiz-page-sec-heading {
  font-family: var(--font-family-1);
  font-weight: 900;
}

.u-quiz-page-inst-score-text {
  font-size: 0.9rem;
  font-family: var(--font-family-2);
  color: var(--grey);
  text-decoration: underline;
}

.u-quiz-page-quiz-outer-div {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-quiz-page-timer-div {
  font-family: var(--font-family-2);
}

.u-quiz-page-quiz-div {
  margin-top: 3rem;
  font-family: var(--font-family-2);
  font-size: 1.2rem;
}

.u-quiz-page-btn {
  background-color: var(--yuva-green);
  border-radius: 0.4rem;
  height: 2.2rem;
  border: none;
  color: white;
  padding: 0 1rem 0 1rem;
  font-family: var(--font-family-2);
  margin: auto;
  margin-top: 3rem;
}

.u-quiz-page-btn:hover,
.u-quiz-page-btn:active {
  background-color: var(--yuva-dark-green);
}

.u-quiz-page-result-text {
  font-family: var(--font-family-2);
  margin-top: 3rem;
}
