.outerDiv {
  margin-top: 8rem;
}

.cardOuterDiv {
  padding: 0.625rem;
  /* 0.625rem = 10px */
}

.headerText {
  font-size: 4rem;
  font-family: var(--font-family-1);
  font-weight: 800;
  margin: 0;
}

/****************************************** Mobile and tab ******************************************/

@media (max-width: 992px) and (min-width: 576px) {
  .outerDiv {
    margin-top: 6rem;
  }

  .headerText {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .outerDiv {
    margin-top: 5rem;
  }

  .headerText {
    font-size: 1.8rem;
  }
}
